/* General */
body {
    margin: 150px auto;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

/* carousel section */

#carousel {
    margin: 0 auto;
    width: 450px;
    height: 300px;
    position: relative;
}

#current-photo{
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

#carousel .bi {
    color:lightslategray;
    font-size: 1.5rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 5px;
    border: 1px solid lightslategray;
}

#next {
    left: 105%;
}

#back {
    right: 105%;
}

.active {
    display: block;
}